.vscode/
node_modules/
vendor/
public/build/
public/fonts/
public/storage/
bootstrap/cache/
storage/app/
storage/logs/
storage/app/debugbar/
storage/framework/sessions/
storage/framework/cache/data/
storage/framework/cache/meta/
storage/framework/views/
storage/framework/testing/
uai_post/pgdata/
public/storage/
public/hot/
public/storage
public/hot
pgadmin4.db
*.env
