.modal-header-2 {
    background-image: url("/images/template/cantv.png");
    background-size: cover;
    color: #fff;
}

.modal-footer-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#modalBody-centro {
    overflow: auto;
    height: 70vh;
    scroll-behavior: auto
}

#exampleModal {
    overflow: hidden;
}